page-home {
    span.happ-row{
        width: 100%;
    }
    img.sample-img{
        width: 80%;
        margin: auto;
    }
    h1.home-heading{
        margin: 10px;
        margin-bottom: 20px;
    }
    h1.quote {
        color: orange;
        padding: 13px;
        font-family: cursive;
    }   
    h4.quote{
        text-align: center;
        font-size: 16px;
        color: dimgrey;
    }
    h2.quote{
        font-size: 25px;
        padding: 10px;
    }
}
