page-setting {
    .card-background-page {

  ion-card {
    margin-top: 10px;
  }
  ion-card.heading-center{
      padding: 10px;
      text-align: center;
    //   background: rgba(200,200,200,0.3);
    color: primary;
  }

}
}
